@media (min-width: 768px) {
    .container {
        width: 678px;
        margin: 0 auto;
    }

    .header {
        padding: 43px 0px 235px;
        background-image: url(../img/banner-desktop.png);
        background-position: center;
        background-size: cover;
    }

    .main-h2 .card-subtitle {
        width: 250px;
    }

    .site-main {
        display: flex;
        justify-content: space-between;
    }

    .site-reg {
        padding: 0px 0px 0px 0px;
    }

    .site-ul {
        margin: 0px 5px 0px 0px;
        order: 1;
    }

    .findHoliday {
        padding: 135px 4px 0px 0px;

    }

    .findHoliday-title {
        letter-spacing: 0.05em;
        margin: 0;
    }

    .findHoliday-big-title {
        font-size: 52px;
        line-height: 62px;
        margin: 0px 0px 26px;
    }

    .findHoliday-subtitle {
        font-size: 24px;
        line-height: 26px;
        padding: 0px;
        margin: 0px 0px 35px 0px;
    }

    .findHoliday-button {
        width: 225px;
    }

    .OtherPartners-link {
        width: 192px;
        padding: 10px 0px;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 32px;
    }
    .main-h2 {
        font-size: 22px;
        line-height: 26px;
        padding: 2px 7px 0px 0px;
        letter-spacing: 0em;
    }

    .order-one {
        order: 1;
    }

    .order-two {
        order: 2;
    }
}
@media (min-width: 768px) and (max-width: 959px) {
    .site-main{
        align-items: baseline;
    }
.card-person:nth-child(1){
    margin: 0px 0px 0px 1px;
    padding: 16px 20px 0px 0px;      
}
.card-person:nth-child(2){
    padding: 37px 18px 0px 0px;
}
.card-person:nth-child(3){
    padding: 14px 0px 0px 21px;
}
.card-person:nth-child(4){
    padding: 36px 0px 0px 17px;
}

.card-person{
    padding: 0px;
}
}

@media (min-width: 960px) {
    .container {
        width: 930px;
    }

    .header {
        padding: 46px 0px 235px;
        background-image: url(../img/banner-desktop.png);
    }
    .findHoliday-title{
        letter-spacing: -0.02em;
    }
.findHoliday-subtitle{
    margin: 0px 0px 37px 0px;
}
.main-h2 {
    font-size: 22px;
    line-height: 26px;
    padding: 0px 5px 0px 0px;
    letter-spacing: -0.02em;
}
.card-person {
    padding: 16px 0px 23px 0px;
}
    .card {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

    }
}