html {
    box-sizing: content-box;
}

*,
*::before *::after {
    box-sizzing: inherit;
    margin: 0 auto;
    padding: 0;
}

* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 290px;
    margin: 0 auto;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    /* ######################## HEADER */
}

.header {
    padding: 25px 0px 139px;
    background-image: url(../img/baner-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    transition: 300ms linear;
    
}

.site-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px 24px 0px 0px;
    padding: 0;
    margin-bottom: 115px;
    transition: 200ms linear;
}

.site-reg {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    height: 32px;
    width: 88px;
    padding: 5px;
}

.site-reg:active {
    border: 2px solid #ffffff;
    border-radius: 20px;
}

/* #################################### */
.findHoliday {
    text-align: center;
    padding: 27px 0px 0px;
}

.findHoliday-centr {
    margin: 0 auto;
}

.findHoliday-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    margin: 0px 2px 0px 0px;
}

.findHoliday-big-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 13px;

}

.findHoliday-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    margin: 0 auto;
    padding: 0px 35px;
    margin-bottom: 19px;


}

.findHoliday-button {
    font-size: 14px;
    font-weight: 700;
    display: block;
    color: #ffffff;
    background-color: #ff4e50;
    text-decoration: none;
    border: 1px solid #ff4e50;
    border-radius: 20px;
    height: 38px;
    width: 280px;
    padding: 10px 0px;
    margin: 0 auto;
    transition: 200ms linear;
}

/* ##############################  H2*/
.main-h2 {
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 0px 10px 0px 0px;
    font-weight: 700;
    letter-spacing: -0.02em;
}

/* ############################## CARD */
.section-card {
    padding: 67px 0px 57px;
}

.card {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.card-person {
    padding: 0px 3px 22px 0px;
    width: 290px;
    min-height: 200px;
    transition: 400ms linear;
}

.card-img {
    display: inline-block;
}

.card-name {
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto;
    margin-bottom: 22px;
    font-weight: bold;
    padding-top: 13px;
}

.card-subtitle {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #666666;
}

.card-box-img {
    position: relative;
    display: inline-block;

}

.card-box-img::before {
    content: "";
    display: inline-block;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    background-repeat: no-repeat;
   
    border: 4px solid #ffffff;
}

.icon-tv::before {
    content: "";
    background-color: #ff4e50;
    background-image: url(../img/icon/icon-tv.png);
    background-position: 50% 45%;
}

.icon-chemistry::before {
    content: "";
    background-color: #ffa507;
    background-image: url(../img/icon/icon-chemistry.png);
    background-position: 50% 45%;
}

.icon-coffe::before {
    content: "";
    background-color: #1cd7ad;
    background-image: url(../img/icon/icon-coffe.png); background-position: 47% 40%;
}

.icon-telegram::before {
    content: "";
    background-color: #4e73db;
    background-image: url(../img/icon/icon-telegram.png);
    background-position: 44% 50%;
}

/* #############################  */

.OtherPartners-centr{
    margin: 0 auto;
}

.OtherPartners-link {


    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ff4e50;
    display: block;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    text-align: center;
    padding: 7px 0px;
    margin: 0 auto;
    height: 40px;
    letter-spacing: -0.02em;
    width: 278px;
    transition: 200ms linear;
}