html {
  box-sizing: content-box;
}
*,
*::before *::after {
  box-sizzing: inherit;
}
/* * {
  outline: 1px solid red; */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
body {
  font-family: "Playfair Display", "Ubuntu";
  font-size: 0px;
  color: #626262;
  line-height: 24px;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* SITE NAVIGATION */
.container {
  margin: 0 auto;
  width: 900px;
  height: auto;
  text-align: center;
}
.page-headder {
  margin: 0 auto;
}
.page-nav {
  padding: 70px 0px 0px;
  height: 100px;
}
.site-navigation {
  margin: 0 auto;
  padding: 0;
}
.site-navigation-li {
  display: inline-block;
  margin: 0 auto;
  padding: 0px 70px;
  vertical-align: middle;
}
.site-navigation-li a {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: #626262;
  display: block;
  font-size: 14px;
  line-height: 24px;
}
.site-navigation-li a:hover,
.site-navigation-li a:focus {
  color: aqua;
}
/* SECTION */
.section {
  margin-bottom: 53px;
  padding: 0px;
}
.section-info {
  display: inline-block;
  text-align: left;
  width: 420px;
  margin: 0 auto;
}
.section-info:nth-child(-n + 4) {
  margin-bottom: 135px;
}
.section-img {
  width: 470px;
  height: 300px;
  margin-bottom: 26px;
}
.section-info:nth-last-of-type(2n + 1) {
  margin-left: 60px;
}
.section-style {
  font-family: "Ubuntu";
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 14px;
  color: #b4ad9e;
  text-transform: uppercase;
}
.section-h2 {
  font-weight: normal;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 38px;
}
.lorem {
  font-size: 14px;
  margin: auto;
}
.button {
  font-family: "Playfair Display";
  color: #626262;
  padding: 0px;
  border: none;
  width: 162px;
  height: 58px;
  cursor: pointer;
  font-size: 20px;
  background: white;
  display: inline-block;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin-bottom: 70px;
}
.button:hover,
.button:focus {
  color: #ff0000;
}
