html {
  box-sizing: border-box;
}
*,
*::before *::after {
  box-sizzing: inherit;
}
* {
  outline: 1px solid red;
  padding: 0;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: "Open Sans", "Roboto", sans-serif;
  letter-spacing: -0.02em;
  color: #555252;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ################################ ##LOGO */
.logo {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
  font-weight: 300;
  float: left;

}

.logo:first-letter {
  color: #7fd9c7;
}
/*  ########################## SITE NAVIGATION */
.nav-div{
  padding: 42px 0px 36px 0px;
}
.nav {

}
.site-navigation {
  float: right;
  list-style: none;
  padding: 6px 0px 0px;
}
.site-navigation-li {
  float: left;
  margin-right: 32px;
}
.site-navigation-li a{
  font-family: Roboto;
  font-size: 14px;
  line-height: 11px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
}
.site-navigation-li a:hover{
  color: #1abc9c;
}
/* ##################################### BANER */
.banner{
  background-image: url("/img/slide4.png");
  background-position: center;
  background-repeat: no-repeat;
  background: cover;
  min-height: 600px;
}
.banner-position{
  position: relative;
}
