@media (min-width: 768px) {
    .container {
        width: 678px;
        margin: 0 auto;
    }

    .header {
        background-image: url(../img/banner-tanlet.png);
        background-position: center;
        background-size: cover;
        
    padding-bottom: 189px;
    }

    .main-h2 .card-subtitle {
        width: 250px;
    }

    .site-main {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 160px;
    }

    .site-ul {
        margin: 0 auto;
        order: 1;
    }
    .findHoliday-title{
        margin: 0 auto;
    }
    .findHoliday-big-title{
        width: 550px ;
        font-size: 52px;
        line-height: 62px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .findHoliday-subtitle{
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 36px;
        font-weight: 300;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-person {
        flex-basis: 231px;
    }

    .order-one {
        order: 1;
    }

    .order-two {
        order: 2;
    }
}
@media (min-width: 960px) {
    .container{
        width: 930px;
    }
    .header{
        background-image: url(../img/banner-desktop.png);
    }
    .card{
        display: flex;
        flex-wrap: wrap;

    }
}