html {
    box-sizing: content-box;
}

*,
*::before *::after {
    box-sizzing: inherit;
    margin: 0 auto;
    padding: 0;
}

* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 290px;
    margin: 0 auto;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    color: #333333;
    /* ######################## HEADER */
}

.header {
    min-height: 540px;
    background-image: url(../img/baner-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.site-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
}

.site-li {
    padding-bottom: 120px;
}

.site-reg {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    height: 32px;
    width: 88px;
    padding: 5px;
}

.site-reg:active {
    border: 2px solid #ffffff;
    border-radius: 20px;
}

/* #################################### */
.findHoliday {
    text-align: center;
}

.findHoliday-title {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 34px;
    text-align: center;
}

.findHoliday-big-title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 16px;

}

.findHoliday-subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 10px;

}

.findHoliday-button {
    display: block;
    color: #ffffff;
    background-color: #ff4e50;
    text-decoration: none;
    border: 1px solid #ff4e50;
    border-radius: 20px;
    height: 40px;
    width: 280px;
    padding: 10px;
    margin: 0 auto;
}

/* ##############################  H2*/
.main-h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    padding-top: 61px;
    margin: 0 auto;
    margin-bottom: 18px;
}

/* ############################## CARD */
.section-card {
    padding-bottom: 57px;
}

.card {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.card-person {
    padding: 0px 0px 30px;
    width: 290px;
    min-height: 200px;
}

.card-img {
    display: inline-block;
}

.card-name {
    margin: 0 auto;
    margin-bottom: 22px;
    font-weight: bold;
    padding-top: 24px;
}

.card-subtitle {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}

.card-box-img {
    position: relative;
    display: inline-block;

}

.card-box-img::before {
    content: "";
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid #ffffff;
}

.icon-tv::before {
    content: "";
    background-color: #ff4e50;
    background-image: url(../img/icon/icon-tv.png);
}

.icon-chemistry::before {
    content: "";
    background-color: #ffa507;
    background-image: url(../img/icon/icon-chemistry.png);
}

.icon-coffe::before {
    content: "";
    background-color: #1cd7ad;
    background-image: url(../img/icon/icon-coffe.png);
}

.icon-telegram::before {
    content: "";
    background-color: #4e73db;
    background-image: url(../img/icon/icon-telegram.png);
}

/* #############################  */

.OtherPartners {
    border: 2px solid #ff4e50;
    border-radius: 20px;
    padding: 6px 70px;
    margin: 0 auto;
    height: 35px;
    width: 278px;
}

.OtherPartners-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ff4e50;
}

@media (min-width: 768px) {
    .container {
        width: 678px;
        margin: 0 auto;
    }

    .header {
        min-height: 540px;
        background-image: url(../img/banner-tanlet.png);
        background-position: center;
        background-size: cover;
    }

    .main-h2 .card-subtitle {
        width: 250px;
    }

    .site-main {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .site-ul {
        margin: 0;
        order: 1;
    }
    .findHoliday-title{
        margin: 0;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-person {
        flex-basis: 231px;
    }

    .order-one {
        order: 1;
    }

    .order-two {
        order: 2;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1200px;
    }
    .header{
        background-image: url(../img/banner-desktop.png);
    }
    .card{
        display: flex;
        flex-wrap: wrap;

    }
}