html {
  box-sizing: content-box;
}
*,
*::before *::after {
  box-sizzing: inherit;
}
body {
  font-family: "Playfair Display", Arial;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background: none;
}
/* SITE NAVIGATOON */
.page-nav {
  padding: 77px ;
}


.site-navigation li {
  display: inline-block;
}
.site-navigation li:not(:last-child) {
  margin-right: 107px;
}
.site-navigation {
  list-style-type: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  
}
.site-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  color: #626262;
  line-height: 24px;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: red;
}
/* FEATURES LIST */
.features-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
  margin-bottom: 100px;
}
.features-list-li{
  width: 421px;
  display: inline-block;
  /* margin-right: 61px; */
  
  height: 686px;
}
  .features-list-li:nth-of-type(2n+1) {
    margin-right: 61px;
}
.features-list-maine h2 {
  color: #626262;
  line-height: 36px;
  font-size: 30px;
}
.features-list-item {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 24px;
}
.features-image {
  width: 422px;
  height: 321px;
  content: normal;
}
.page-footer {
  font-size: 20px;
  line-height: 24px;
  color: #626262;
}
/* спрятать что либо */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.lorem{
  margin-bottom: 125px;
}
