html {
}
*,
*::before *::after {
  box-sizzing: inherit;
}
* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ten-pix: 10px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0px 30px;
}
body {
  font-family: Roboto, "Open Sans", "Ubuntu";
}
section {
  display: block;
}
/* #############################################NAVIGATION */
.header {
  padding: 40px 0px 30px 0px;
  margin: 0 auto;
}
.site-navigation-li {
  float: left;
  margin-right: 35px;
  font-weight: bold;
  font-size: 14px;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #140707;
  list-style: none;
}
.site-navigation-li:hover {
  color: #1abc9c;
}
.site-navigation-li:focus {
  color: #1abc9c;
}
/* ################################################# LOGO */
.logo {
  float: left;
  font-size: 30px;
  line-height: 32px;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-decoration: none;
}
.logo::first-letter {
  color: rgb(26, 188, 156);
  font-weight: bold;
}
.site-navigation {
  list-style: none;
  padding: 11px;
  margin: 0 auto;
  float: right;
  /* ################################################ BANNER */
}
.banner-main {
  background-image: url("/img/slide4.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}
.banner-position {
  min-height: 600px;
  position: relative;
}
.banner-titles {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  list-style: none;
}
.banner-title {
  color: #fff;
  font-size: 60px;
  line-height: 82px;
  padding-bottom: 35px;
  font-weight: 700;
}
.banner-subtitle {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
}
.banner-button-left {
  height: 100px;
  width: 100px;
  background: rgba(80, 156, 139, 0.65);
  transform: translateY(-50%);
  border: none;
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
}
.btn-l {
  left: 30px;
}
.banner-button-right {
  position: absolute;
  width: 100px;
  height: 100px;
  border: none;
  font-size: 50px;
  color: #fff;
  background: rgba(80, 156, 139, 0.65);
  transform: translateY(-50%);
  top: 50%;
}
.btn-r {
  right: 30px;
}
.banner-button-left:hover {
  background-color: rgba(78, 198, 171);
  cursor: pointer;
}
.banner-button-right:hover {
  background-color: rgba(78, 198, 171);
  cursor: pointer;
}
.banner-button-left:focus {
  background-color: rgba(78, 198, 171);
  cursor: pointer;
}
.banner-button-right:focus {
  background-color: rgba(78, 198, 171);
  cursor: pointer;
}

/* ################################################## H2 */
.card-section {
  background: #e9f0fd;
}
.h2 {
  font-size: 48px;
  line-height: 32px;
  color: #515151;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 80px;
}
.h2::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #4ec6ab;
  margin: 0 auto;
  margin-top: 30px;
}
/* #################################################### CARD */
.card {
  margin: 0 auto;
  padding-bottom: 100px;
}
.card-person {
  position: relative;
  width: 255px;
  min-height: 322px;
  margin: 0 auto;
  margin-right: 29px;

  float: left;
}
.card-person:last-child {
  margin-right: 0px;
}
.card-person:hover .hover-box {
  position: absolute;
  width: 235px;
  min-height: 265px;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  /*  border: 10px solid rgba(255, 255, 255, 0.55); */
  visibility: visible;
  padding-top: 80px;
  margin-top: 10px;
  margin-left: 10px;
}
.card-person:focus .hover-box {
  width: 235px;
  min-height: 265px;
  top: 0;
  position: absolute;
  border: 10px solid rgba(255, 255, 255, 0.55);
  background: rgba(0, 0, 0, 0.55);
  visibility: visible;
  padding-top: 80px;
  margin-top: 10px;
  margin-left: 10px;
}
.card-person:hover .border-box {
  width: 100%;
  min-height: 285px;
  position: absolute;
  top: 0;
  border: 10px solid rgba(255, 255, 255, 0.55);
}
.hover-box {
  width: 100%;
  min-height: 285px;
  position: absolute;
  background: rgba(0, 0, 0), 0.55;
  top: 0;
  visibility: hidden;
}
.product-img {
  width: 100%;
  height: auto;
}
.product-info {
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.product-item {
  position: absolute;
  padding: 4px 0px 4px;
  bottom: 0;
  width: 202px;
  font-size: 18px;
  line-height: 32px;
  background-color: #323232;
  color: #ffffff;
}
.product-cost::before {
  content: "\0024";
}
.product-cost {
  display: inline-block;
  position: absolute;
  padding: 4px 0px 4px;
  bottom: 0;
  right: 0;
  width: 53px;
  font-size: 18px;
  line-height: 32px;
  background-color: #8c8c8c;
  color: #ffffff;
  text-align: center;
}
.product-item:hover {
  background-color: #1abc9c;
}
.product-cost:hover {
  background-color: #7fd9c7;
}
/* ########################################### ICON */
.button-hover {
  min-width: 100%;
  height: auto;
}
.button-ico {
  display: inline-block;
  width: 48px;
  height: 50px;
  background: transparent;
  border: 1px solid #fff;
  margin: 0px 8px 8px 0px;
}
.icon-heart {
  margin-left: 30px;
}
.icon-card {
  margin-left: 30px;
}
.icon-heart,
.icon-arrow,
.icon-clock,
.icon-card {
  background-repeat: no-repeat;
  background-position: center;
}
.icon-heart {
  background-image: url("/icon/heart.png");
}
.icon-arrow {
  background-image: url("/icon/arrows.png");
}
.icon-clock {
  background-image: url("/icon/clock.png");
}
.icon-card {
  color: #fff;
  width: 168px;
  text-transform: uppercase;
  background-image: url("/icon/card.png");
  text-align: right;
  background-position-x: 10px;
  padding: 8px;
}

.icon-heart:hover,
.icon-arrow:hover,
.icon-clock:hover,
.icon-card:hover {
  background-color: #1abc9c;
}
/* ########################################### FOOTER */

.footer-p {
  background-color: #323232;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  padding: px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  font-family: "Open Sans";
  padding: 30px 0px 26px;
}
.span {
  color: #46bfa9;
}
