html {
  box-sizing: content-box;
}
*,
*::before *::after {
  box-sizzing: inherit;
}
* {
  outline: 1px solid red;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0px;
}
  /* NAVIGATION */
.site-navigation-li{
    float: right;
    margin-right: 35px;
    font-weight: bold;
    font-size: 14px;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #140707;
    list-style: none;
}
.logo{
    float: left;
    font-size: 30px;
    line-height: 32px;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    text-decoration: none;
}
.logo::first-letter {
    color: rgb(26, 188, 156);
    font-weight: bold;}
    .site-navigation {
        list-style: none;
        padding: 11px;
        margin: 0 auto;